$color-main-light: #ffffff;
$color-main-light-dim: #ffffffdd;
$color-main-dark: #262638;
$color-main-dark-dim: #262638dd;
$color-box-shadow: #d6d5db33;
$color-focus-outline: #2a75f7;
$color-details: #a8a8c8;
$bg-color-image-loader-from: $color-main-light;
$bg-color-image-loader-to: #49496b;
$bg-color-input: #f9f9fb;
