@import "variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-main-light-dim;
  z-index: 5;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.loading {
  &__spinner {
    width: 100px;
    height: 100px;
  }
}
