<div class="restaurant-card__bg-img-container">
  @if (!isImgError) {
    <img
      class="restaurant-card__bg-img"
      alt=""
      [src]="restaurant.image"
      (error)="handleImgError()"
    />
  } @else {
    <app-image-placeholder />
  }
</div>

<div class="restaurant-card__info">
  <div
    class="restaurant-card__logo-img-container"
    [style.width]="logoSize + 'px'"
    [style.height]="logoSize + 'px'"
  >
    @if (!isLogoError) {
      <img
        class="restaurant-card__logo-img"
        alt=""
        [src]="restaurant.logo"
        (error)="handleLogoError()"
      />
    } @else {
      <app-image-placeholder />
    }
  </div>

  <app-details
    class="restaurant-card__details"
    [title]="restaurant.name | uppercase"
    subtitle="Comida rápida"
  >
    <app-icon-text [text]="rating()">
      <app-star-icon />
    </app-icon-text>

    <app-icon-text [text]="restaurant.distance | distance">
      <app-map-pin-icon />
    </app-icon-text>
  </app-details>
</div>
