<img class="restaurant-card__bg-img" [src]="restaurant.image" alt="" />

<div class="restaurant-card__info">
  <div class="restaurant-card__logo-img-container">
    <img class="restaurant-card__logo-img" [src]="restaurant.logo" alt="" />
  </div>

  <div class="restaurant-card__details">
    <h3 class="restaurant-card__name">{{ restaurant.name | uppercase }}</h3>

    <span class="restaurant-card__type">Comida rápida</span>

    <div class="restaurant-card__metadata">
      <app-icon-text [text]="rating()">
        <app-star-icon />
      </app-icon-text>

      <app-icon-text [text]="distanceKm | async">
        <app-map-pin-icon />
      </app-icon-text>
    </div>
  </div>
</div>
