@import "variables";

:host {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 206px;
}

.restaurant-card {
  position: relative;

  &__bg-img,
  &__logo-img {
    width: 100%;
    object-fit: contain;
  }

  &__bg-img-container {
    min-height: 130px;
  }

  &__logo-img-container {
    overflow: hidden;
    border-radius: 14px;
    box-shadow: 0px 1px 3px 0px $color-box-shadow;
    background-color: $color-main-light;
  }

  &__info {
    display: flex;
    position: relative;
    left: 20px;
    gap: 15px;
    bottom: 25px;
  }

  &__details {
    position: relative;
    top: 35px;
  }
}
