@if (data$ | async; as data) {
  <div
    class="restaurant__controls"
    [class.restaurant__controls--no-overlap]="!data.restaurant"
  >
    <app-chevron-button
      direction="left"
      [title]="'Navigate back'"
      (click)="navigateBack()"
    />

    <app-magnifying-button
      class="restaurant__search-btn"
      [title]="'Search products'"
      (click)="showSearch()"
    />

    <app-star-button [title]="'Add to favourites'" />
  </div>

  <app-restaurant-card
    class="restaurant__card"
    [restaurant]="data.restaurant"
    [logoSize]="74"
  />

  <app-catalog
    class="restaurant__catalog"
    [catalog]="data.catalog"
    [restaurant]="data.restaurant"
  />

  @if (isSearchOpen) {
    <app-products-search
      class="restaurant__search"
      [catalog]="data.catalog"
      (closeSearch)="closeSearch()"
    />
  }
} @else {
  <app-loading />
}

<app-total class="restaurant__total" />
