<div
  class="restaurant__controls"
  [class.restaurant__controls--no-overlap]="!restaurant"
>
  <app-chevron-button
    direction="left"
    [title]="'Navigate back'"
    (click)="navigateBack()"
  />

  <app-magnifying-button
    class="restaurant__search-btn"
    [title]="'Search products'"
    (click)="showSearch()"
  />

  <app-star-button [title]="'Add to favourites'" />
</div>

@if (restaurant) {
  <app-restaurant-card
    class="restaurant__card"
    [restaurant]="restaurant"
    [logoSize]="74"
  />
}

@if (catalog$ | async; as catalog) {
  <app-catalog
    class="restaurant__catalog"
    [catalog]="catalog"
    [restaurantId]="id"
  />

  @if (isSearchOpen) {
    <app-products-search [catalog]="catalog" (closeSearch)="closeSearch()" />
  }
} @else {
  <app-loading />
}

<app-total class="restaurant__total" />
