<div class="input" [class.input--focused]="isFocused">
  <div class="input__icon-container">
    <ng-content />
  </div>

  <input
    #input
    class="input__input"
    type="text"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    (focus)="handleFocus()"
    (blur)="handleBlur()"
    (ngModelChange)="handleValueChange($event)"
  />

  @if (isWithReset && value) {
    <app-cross-button
      class="input__reset-btn"
      [title]="'Reset search'"
      (click)="reset()"
    />
  }
</div>
