:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.image-placeholder {
  &__icon {
    display: block;
    width: inherit;
    height: inherit;
  }
}
