.icon-button {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: inherit;
    color: inherit;
    transition: all 0.15s ease-out;

    &:hover,
    &:focus-visible {
      transform: scale(1.05);

      .icon-button__icon {
        transform: scale(1.2);
      }
    }
  }

  &__icon {
    display: block;
    width: 15px;
    height: 15px;
    transition: all 0.3s ease-out;
  }
}
