@import "variables";

:host {
  display: block;
  width: 100%;
  padding: 0 20px;
  flex-grow: 1;
  position: relative;
  max-width: 500px;
}

.restaurants {
  &__title {
    color: $color-main-dark;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin: 20px 0;
  }

  &__card {
    border-radius: 14px;
    box-shadow: 0px 5px 10px 0px $color-box-shadow;
    padding-bottom: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0px 5px 10px 3px $color-box-shadow;
      transform: rotate(0.5deg);
    }
  }
}
