/* You can add global styles to this file, and also import other style files */
@import "reset";
@import "variables";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, #000 0%, #444 50%, #000 100%);
}

.btn-light {
  background-color: $color-main-light-dim;
  color: $color-main-dark;
}

.btn-dark {
  background-color: $color-main-dark-dim;
  color: $color-main-light;
}
